<!-- Header-->
{{ qual() }}
<div class="flex flex-col p-2 md:p-4 gap-4">
  <div
    class="flex justify-between p-6 border border-indigo-500 bg-white rounded-2xl"
  >
    <div>
      <p class="text-2xl text-indigo-700 font-bold">Parking Painel</p>
      <p>Gerêncie e monitore as vagas</p>
    </div>
    <div>
      <form class="flex gap-2 items-center" [formGroup]="form">
        <mat-form-field>
          <mat-label>Sites: {{ this.form.controls.sitesId.value }}</mat-label>
          <mat-select formControlName="sitesId">
            @for (item of sites(); track $index) {
              <mat-option [value]="item.siteId">{{ item.siteName }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label
            >buildings: {{ this.form.controls.buildingsId.value }}</mat-label
          >
          <mat-select formControlName="buildingsId">
            @if (!buildings().length) {
              <mat-option [disabled]="true">buildings</mat-option>
            } @else {
              @for (item of buildings(); track $index) {
                <mat-option [value]="item.buildingId">{{
                  item.buildingName
                }}</mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>floors: {{ this.form.controls.floorsId.value }}</mat-label>
          <mat-select formControlName="floorsId">
            @for (item of floors(); track $index) {
              <mat-option [value]="item.floorId">{{ item.floorNo }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <button>
          <span class="material-symbols-outlined"> search </span>
        </button>
      </form>
    </div>
  </div>
  <!-- KPI-->
  <app-kpi
    [kpi]="getKpiParkingSpot()"
    [isLoading]="isParkingLoading()"
  ></app-kpi>
  <!-- Parking -->
  <div
    class="flex flex-col border border-indigo-500 bg-white rounded-2xl px-6 py-4 gap-8 flex-1"
  >
    <div class="flex justify-between items-center">
      <div class="flex flex-col gap-2 text-[10px] uppercase flex-1">
        <p class="text-2xl text-indigo-700 font-bold">Vagas</p>
        <div class="flex gap-4">
          <div class="flex items-center gap-1">
            <span class="w-2.5 h-2.5 bg-green-600 rounded-full"></span>
            disponível
          </div>
          <div class="flex items-center gap-1">
            <span class="w-2.5 h-2.5 bg-red-400 rounded-full"></span> ocupado
          </div>
          <div class="flex items-center gap-1">
            <span class="w-2.5 h-2.5 bg-blue-400 rounded-full"></span> reservado
          </div>
          <div class="flex items-center gap-1">
            <span class="w-2.5 h-2.5 bg-gray-400 rounded-full"></span>
            manutenção
          </div>
        </div>
        <hr class="text-gray-300" />
      </div>
      <div>
        <button
          class="flex justify-between items-center gap-1 bg-gray-200 pr-1 pl-3 py-1 text-gray-400 rounded-full border-gray-300 border hover:text-white hover:bg-indigo-800 transition-all ease-in-out cursor-pointer"
        >
          Atualizar
          <span class="material-symbols-outlined p-1 rounded-full">
            refresh
          </span>
        </button>
      </div>
    </div>

    <!-- VAGAS-->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4"
    >
      @if (isParkingLoading()) {
        @for (item of [].constructor(8); track $index) {
          <app-parking />
        }
      } @else {
        @for (item of getGridParkingSpot(); track $index) {
          <app-parking [spot]="item" />
        }
      }
    </div>
  </div>
</div>
