<div class="form-container">
  <div class="bg-gray-900/40 backdrop-blur-sm p-6 rounded-2xl">
    <form [formGroup]="form" (ngSubmit)="onLogin()" class="flex flex-col gap-4">
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="emailId" type="email" />
          <mat-icon matSuffix>mail</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Pasword</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide() ? 'password' : 'text'"
          />
          <mat-icon matSuffix>mail</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button [disabled]="isLoading()" class="full-width">
          @if (isLoading()) {
            <div class="flex items-center justify-center gap-2">
              <span>Carregando...</span>
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>
          } @else {
            Login
          }
        </button>
      </div>
      <div class="flex justify-around text-cyan-50">
        <small>Não lembro a senha</small>
        <small>Cadastrar</small>
      </div>
    </form>
  </div>
</div>
