<div class="form-container">
  <div class="bg-cyan-100/10 backdrop-blur-sm p-6 rounded-2xl">
    <form [formGroup]="form" (ngSubmit)="onLogin()" class="flex flex-col gap-4">
      <div class="mb-6">
        <app-logo-brand />
      </div>
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="emailId" type="email" />
          <mat-icon matSuffix
            ><span class="material-symbols-outlined"> mail </span></mat-icon
          >
          @if (this.form.get("emailId")?.hasError("invalidCredentials")) {
            <mat-error>Usuário ou senha inválidos.</mat-error>
          }
          @if (this.form.get("emailId")?.hasError("email")) {
            <mat-error>E-mail incompatível</mat-error>
          }
          @if (this.form.get("emailId")?.hasError("required")) {
            <mat-error>E-mail Obrigatório</mat-error>
          }
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Pasword</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide() ? 'password' : 'text'"
          />
          <mat-icon matSuffix>
            <span
              class="material-symbols-outlined cursor-pointer select-none"
              matSuffix
              (click)="clickEvent($event)"
            >
              {{ hide() ? "visibility" : "visibility_off" }}
            </span>
          </mat-icon>
          @if (this.form.get("password")?.hasError("invalidCredentials")) {
            <mat-error>Usuário ou senha inválidos.</mat-error>
          }
          @if (this.form.get("password")?.hasError("required")) {
            <mat-error>Senha obrigatória</mat-error>
          }
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button [disabled]="isLoading()" class="full-width">
          @if (isLoading()) {
            <div class="flex items-center justify-center gap-2">
              <span class="text-cyan-50">Carregando...</span>
              <mat-spinner [diameter]="20"></mat-spinner>
            </div>
          } @else {
            Login
          }
        </button>
      </div>
      <div class="flex justify-around text-cyan-50">
        <small
          [routerLink]="['/auth/lost-password']"
          class="cursor-pointer hover:underline"
          >Não lembro a senha</small
        >
        <small
          [routerLink]="['/auth/register']"
          class="cursor-pointer hover:underline"
          >Cadastrar</small
        >
      </div>
    </form>
  </div>
</div>
